<!doctype html>
<html>
    <head lang="pt-br">
        <meta charset="utf-8">
        <title> Math@Cpt: Conjuntos </title>
        
        <!--Externos-->
        <script src="../static/_Externos/jquery-2.1.4.min.js"></script>
        <script src="../static/_Externos/jquery-ui.js"></script>
        <script src="../static/_Externos/bootstrap/js/bootstrap.js"></script>
        <script src="../static/_Externos/contextMenu/jquery.contextMenu.js" type="text/javascript"></script>
        <link href="../static/_Externos/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <link href="../static/_Externos/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="../static/_Externos/contextMenu/jquery.contextMenu.css" rel="stylesheet" type="text/css"/>
        
        <!--Internos-->
        <script src="../static/JS/jquery.ipicture.js"></script>
        <script src="../static/JS/inicializar.js"></script>
        <script src="../static/JS/ConjEnumeraveis/entradaDeConjuntos.js"></script>
        <script src="../static/JS/bancoConjuntos.js"></script>
        <script src="../static/JS/ConjEnumeraveis/manipular.js"></script>
        <script src="../static/JS/ConjEnumeraveis/operacoes.js"></script>
        <script src="../static/JS/ConjEnumeraveis/realizarOperacoes.js"></script>        
        <script src="../static/JS/eventos.js"></script>  
        <script src="../static/JS/ConjEnumeraveis/menuDeContexto.js"></script>
        <script src="../static/JS/menu.js"></script>
        <script src="../static/JS/mensagemDeErro.js"></script>
        <script src="../static/JS/excecoes.js"></script>
        <link href="../static/CSS/iPicture.css" rel="stylesheet" type="text/css"/>
        <link href="../static/CSS/barralateral.css" rel="stylesheet" type="text/css"/>
        <link href="../static/CSS/objetos.css" rel="stylesheet" type="text/css"/> 
        <link href="../static/CSS/menuDeContexto.css" rel="stylesheet" type="text/css"/>
        <link href="../static/CSS/aparenciaGeral.css" rel="stylesheet" type="text/css"/>
        <link href="../static/CSS/menu.css" rel="stylesheet" type="text/css"/>
        <link href="../static/CSS/popover.css" rel="stylesheet" type="text/css"/>
        <link href="../static/CSS/erros.css" rel="stylesheet" type="text/css"/>
        <link href="../static/CSS/cardinalidade.css" rel="stylesheet" type="text/css"/>        
    </head>

    <body>
        <div class = "container-fluid">
            <header class="row">
                <nav id='cssmenu'>
                    <ul>
                       <li class='active'><a href='index.html'>Início</a></li>
                       <li><a href='index.html'>Como começar</a></li>
                       <li><a href='index.html'>Contato</a></li>
                    </ul>
                </nav>
            </header>		

            <div class="row">
                
                <!-- Box Principal  -->
                <section class="box-10 box">
                    <div class="lixeira">
                        <img src="../static/IMG/lixeira.png" alt="lixeira">
                    </div>
                    
                    <!-- Tela de Operações e Realações -->
                    <div id="operacoes"></div>       
                </section>
                
                <!-- Adicionar Conjuntos  -->
                <aside id="lateral"> 
                    <form>
                        <h2>Adicionar Conjuntos</h2>
                            
                        <div class="adicionarConjunto">
                            <input type="text" id="nameSet" class="alert" name="nome" placeholder="Nome">
                            <input type="text"  id="elemSet" class="alert" role="alert" name="elemSet" placeholder = "Conjunto">
                            <input type="button"  id ="buildSet" class="btn-default" value="Ok">
                        </div>
                    </form>                      
                </aside>
            </div>

            <footer class="row"></footer>
        </div>
    </body>
</html>